/*this is our style sheet*/
.header {
  padding: 100px;
  text-align: center;
  background: #01163F;
  color: white;
  font-size: 30px;
}

h1 {
  font-family:'Manjari', sans-serif;
  color: #01163F;
  font-size: 1.5em;
}

h2{
   font-family:  'Manjari', sans-serif;
   color: #01163F;
   text-align: center;
   font-weight: bold;
}

h3{
  font-family:  'Manjari', sans-serif;
  color: #01163F;
  text-align: center;
  font-weight: bold;
}

li {
  font-family: 'Arial', sans-serif;
  color: #01163F
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}
