
/*this is our style sheet*/


.header {
  padding: 5px;
  text-align: left;
  background: #01163F;
  color: white;
  font-size: 20px;
}


h1{
  font-family:'Roboto', sans-serif;
  color: #01163F;
  font-size: 1.5em;
  display: block;
  background-color: #01163F;
  text-align: center;
}

h2{
   font-family:  'Roboto', sans-serif;
   color: #01163F;
   text-align: center;
}

h3{
  font-family:  'Roboto', sans-serif;
  color: #01163F;
  text-align: center;
  font-weight: bold;
  display: block;
}

h4{
  font-family:  'Roboto', sans-serif;
  color: #01163F;
  text-align: center;
  font-weight: bold;
  display: block;
}

h6{
  font-family:  'roboto', sans-serif;
  color: #01163F;
  text-align: center;
  font-size: 1em;
  display: block;
  background: white;
  opacity: 0.7;
}

nav ul{
  background-color: #01163F;
  font-family: 'roboto'sans-serif;
  text-decoration: none;
  color: white;
}

li {
  font-family: 'Roboto', sans-serif;
  color: #01163F;
  list-style-type: none;
  display: block;
  text-decoration: none;
}

p {
  font-family: 'roboto', sans-serif;
  color: #01163F;
  display: block;
  text-decoration: none;
}

.IMG {
  align-items: center;
}

.history{
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'roboto'sans-serif;
  font-size: 1.0em;
  background-color: #E8E8E8;
  color: #01163F;
  text-align: center;
}

.photos {
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  color: #01163F;
  text-decoration: none;
  text-align: center;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  font-family: 'roboto'sans-serif;

}

.article {
  display: block;
  background-color: lightgrey;
  padding: 30px;
  align-items: center;
  margin: 35px;
}

.intro {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  background-color: #99CCCC;
  color: #01163F;
  text-align: center;
  background-image: url("sabew stock1.jpeg");
  background-size: cover;
}

.events {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1.3em;
  color: #01163F;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #E8E8E8;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #01163F;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.b1{
  grid-area: a;
  text-align: center;
}
.b2{
  grid-area: b;
  text-align: center;
}
.b3{
  grid-area: c;
  text-align: center;
}
.b4{
  grid-area: d;
  text-align: center;
}

.b5{
  grid-area: e;
  text-align: center;
}

.b6{
  grid-area: f;
  text-align: center;
}

.b7{
  grid-area: g;
  text-align: center;
}

.b8{
  grid-area: h;
  text-align: center;
}

.b9{
  grid-area: i;
  text-align: center;
}

.b10{
  grid-area: j;
  text-align: center;
}

.b11{
  grid-area: k;
  text-align: center;
}

.b12{
  grid-area: l;
  text-align: center;
}
.b13{
  grid-area: m;
  text-align: center;
}
.b14{
  grid-area: n;
  text-align: center;
}
.b15{
  grid-area: o;
  text-align: center;
}
.b16{
  grid-area: p;
  text-align: center;
}
.b17{
  grid-area: q;
  text-align: center;
}

.b18{
  grid-area: r;
  text-align: center;
}
.b19{
  grid-area: s;
  text-align: center;
}
.b20{
  grid-area: t;
  text-align: center;
}
.b21{
  grid-area: u;
  text-align: center;
}
.b22{
  grid-area: v;
  text-align: center;
}
.b23{
  grid-area: w;
  text-align: center;
}
.b24{
  grid-area: x;
  text-align: center;
}
.b25{
  grid-area: y;
  text-align: center;
  }
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.awards {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'roboto'sans-serif;
  font-size: 1.3em;
  color: #01163F;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #E8E8E8;
}

.connect {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'roboto'sans-serif;
  font-size: 1.3em;
  color: #01163F;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #E8E8E8;
}

.social {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'roboto' sans-serif;
  font-size: 1.3em;
  background-color: white;
  color: #01163F;
  text-align: center;

}

.show {
  display: block;
}


.w3-container {
  color: white;
  padding: 30px;
  font-size: 16px;
  border: solid;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  float:left;


}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 70%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 60px;
  height: 60px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 60px;
  height: 60px;
}


.main {
  margin-left: 200px;
}

.renew {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 20px;
  background-color: white;
  color: #01163F;
  text-align: left;

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}

.mission {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'roboto' sans-serif;
  font-size: 1.0em;
  background-color: #E8E8E8;
  color: #01163F;
  text-align: center;


}

.board{
  margin: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width:300px){

  .menu-trigger {
      order: 1;
      font-size: 1.75em;
      width: 2em;
  }

  .dropdown {
    order: 1;
    color: white;
  }

  nav ul {
      display: none;
      width: 25%;
  }

  nav ul li a{
    color:white;
    display:block;
    text-decoration: none;
    padding: 20px 20px;
    text-align: center;
  }
}

.explanation{
  display:block;
  background:white;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;

}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 599px){


  .photos{
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    justify-content: center;
  }

  .img {
    align-items: left;
    width: 100px;

  }



  .archive {
    color: white;
    padding: 30px;
    font-size: 18px;
    border: solid;
    border-color: #01163F;
    border-width: thin;
    cursor: pointer;
    font-family: 'roboto'sans-serif;
    float: right;
    background-color: lightgrey;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1{
    font-family:'Roboto', sans-serif;
    color: #01163F;
    font-size: 1.8em;
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
  }
  .boardphotos{
    margin: 40px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g g"
    "h i"
    "j k"
    "l m"
    "n n"
    "o p"
    "q r"
    "s t"
    "u u"
    "v w"
    "x y";

}
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;

}

.awards {
  display: block;
  padding: 10px;
  align-items: center;
  margin: 30px;
  font-family: 'roboto'sans-serif;
  font-size: 1.3em;
  background-color: white;
  color: #01163F;
  text-align: center;

}


@media screen and (min-width: 700px) {

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #01163F;
    }

    nav ul li a:link, nav ul li a:visited {
      display: inline-block;
      background-color: #01163F;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.0em;
      color: white;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }
    h1 {
  font-family:'Roboto', sans-serif;
  color: #01163F;
  font-size: 1.5em;
  background-color: lightgrey;
  display: block;
}

h2{
   font-family:  'Roboto', sans-serif;
   color: #01163F;
   text-align: center;
   font-weight: bold;
   font-size: 1.5em;

}

h3{
  font-family:  'Roboto', sans-serif;
  color: #01163F;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}


li {
  font-family: 'Roboto', sans-serif;
  color: #01163F
}

.explanation{
  display:block;
  background:white;

}


.archive {
  color: white;
  padding: 10px;
  font-size: 18px;
  border: solid;
  border-color: #01163F;
  border-width: thin;
  cursor: pointer;
  font-family: 'roboto' sans-serif;
  float: left;
  background-color: lightgrey;
  align-items: center;
  text-align: center;
}

.intro {
  display: block;
  padding: 30px;
  align-items: center;
  margin: 50px;
  font-family: 'roboto' sans-serif;
  font-size: 1.5em;
  background-color: #99CCCC;
  color: #01163F;
  text-align: center;
  background-size: cover;
  font-weight: bold;
}

h6{
  font-family:  'roboto', sans-serif;
  color: #01163F;
  text-align: center;
  font-size: 1em;
  display: block;
  background: white;
  opacity: 0.7;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ddd;
  text-align: center;

}

.logos {
  width: 45%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 25%;
}

.mission {
  display: block;
  padding: 20px;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'roboto' sans-serif;
  font-size: 1.0em;
  background-color: #E8E8E8;
  color: #01163F;
  text-align: center;
}

.history{
  display: block;
  padding: 10px;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'roboto' sans-serif;
  font-size: 1.0em;
  background-color: #E8E8E8;
  color: #01163F;
  text-align: center;
}

<<<<<<< HEAD
@media screen and (min-width: 50px);{
=======
.boardphotos{
  margin: 40px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-areas:
  "a b"
  "c d"
  "e f"
  "g g"
  "h i"
  "j k"
  "l m"
  "n n"
  "o p"
  "q r"
  "s t"
  "u u"
  "v w"
  "x y";

}

@media screen and (min-width: 999px);{
> 0c77200f1256517fb33e3146826c893b03b76666

  .photos{
    display: flex;
    flex-flow: row;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
}

.archive {
  color: white;
  padding: 10px;
  font-size: 18px;
  border: solid;
  border-color: #01163F;
  border-width: thin;
  cursor: pointer;
  font-family: 'roboto' sans-serif;
  float: left;
  background-color: lightgrey;
  align-items: center;
  text-align: center;
  margin-left: 50px;
}

.w3-container {
  color: white;
  padding: 40px;
  font-size: 18px;
  border: solid;
  cursor: pointer;
  font-family: 'roboto'sans-serif;
  text-align: left;
  float:left;
}
}
.boardphotos{
  margin: 40px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-areas:
  "a b c"
  "d e f"
  "g g g"
  "h i j"
  "k l m"
  "n n n"
  "o p q"
  "r s t"
  "u u u"
  "v w x"
  ". y .";
